<template>
	<CContainer>
		<!-- Card component from coreUI -->
		<div class="topMargin"></div>
		<CRow>
			<CCol lg="3" md="6" v-for="(outterItem, index) in data" :key="index">
				<CCard
					@mouseover="outterItem.active= true"
					@mouseleave="outterItem.active= false"
					:class="['CCardTemplate', { 'card-active' : outterItem.active  }]"
				>
					<CCardHeader class="CCardHeaderTemplate">
						<div class="row">
							<div class="col titleText">
								{{ outterItem.courseTitle }}
							</div>

							<div>
								<radial-menu
									style="margin: auto; margin-top: 300px; background-color: white"
									:itemSize="36"
									:rotate="195"
									:radius="96"
									:angle-restriction="-90"
								>
									<radial-menu-item
										v-for="(item, index) in outterItem.menu"
										:key="index"
										style="background-color: white"
									>
									<span :style="{color:item.color}">
										<i :class="item.icon"/>
									</span>
										
									</radial-menu-item>
								</radial-menu>
							</div>
						</div>
					</CCardHeader>
					<CCardBody class="column">
						<div>
							<div class=" content">
								<div class="nameText">
									Full Name {{ outterItem.name.first }} {{ outterItem.name.last }}
								</div>
							</div>

							<div class="row content">
								<div class="detailTextLeft col-sm-8" style="margin-bottom: 1.5rem;">
									Study hours:
								</div>
								<div class="detailTextRight col-sm-4" style="float:right">{{ outterItem.studyHours }}</div>
							</div>

							<div class="row content">
								<div class="detailTextLeft col-sm-8">Category:</div>
								<div
									v-for="(category, index) in outterItem.categories"
									:key="index"
									class="detailTextRight col-sm-4"
								>
									<div>{{ category.name }}</div>
									<br />
								</div>
							</div>

							<div class="row content">
								<div class="detailTextLeft col-sm-8" style="float:left;">Views:</div>
								<div class="detailTextRight col-sm-4" style="float: right;">{{ outterItem.views }}</div>
							</div>
						</div>

						<!-- กดเข้ามาดู แต่ยังไม่ completed -->
						<div v-if="outterItem.active">
						<div v-if="outterItem.status.enroll && !outterItem.completed" class="row">
							<div class="col-sm-8">
								<CProgress
									:value="outterItem.status.progress"
									:max="outterItem.status.max"
									class="mb-3 progressBar"
									show-value
								/>
							</div>

							<div class="col-sm-4">
								<button @click="testNav(outterItem.navigate)" class="playButton">
									<!-- <i class="fas fa-caret-right"></i> -->
									<!-- <CIcon :height="42" :content="cil-caret-right" /> -->
									<!-- <i class="fab fa-font-awesome"></i> -->
									<span style="color: Tomato;">
										<i class="fas fa-caret-right" style="height:36px; width:36px;margin-top:3px;"></i>
									</span>
								</button>
							</div>
						</div>

						<!-- Completed -->
						<div v-else-if="outterItem.status.progress === 100 || outterItem.completed">
							<CProgress
								:value="outterItem.status.progress"
								:max="outterItem.status.max"
								class="mb-3 progressBar"
								show-value
							/>
						</div>

						<div v-else>
							<button
								@click="outterItem.status.enroll = !outterItem.status.enroll"
								class="overviewButton"
							>
								Overview
							</button>
							<!-- <button @click="testNav(overviewNav)"> Overview </button> -->
						</div>
						</div>
					</CCardBody>
				</CCard>
			</CCol>
		</CRow>
	</CContainer>
</template>

<script>
import { RadialMenu, RadialMenuItem } from 'vue-radial-menu';
import UserService from '../../service/Api';

export default {
	name: 'Login',
	components: {
		RadialMenu,
		RadialMenuItem,
	},
	data() {
		return {
			data: [
				{	
					active: false,
					name: {
						first: 'Hi',
						last: 'There',
					},
					courseTitle: 'Chinese',
					backgroundColor: 'fff',
					categories: [
						{
							name: 'Category 1',
						},
					
					],
					favorite: {
						status: false,
					},
					status: {
						enroll: false,
						progress: 90,
						max: 100,
					},
					studyHours: 10,
					completed: false,
					views: 0,
					navigate: 'To chncourse',
					overviewNav: 'To overview page',
					menu: [
						{
							name: 'favorite',
							status: false,
							color: 'yellow',
							icon: 'fas fa-ban',

						},
						{
							name: 'Shared',
							status: false,
							color: 'blue',
							icon: 'fas fa-eye',
						},
						{
							name: 'Flag',
							status: false,
							color: 'green',
							icon: 'fas fa-flag',
						},
						{
							name: 'View',
							status: false,
							color: 'blue',
							icon: 'fas fa-share-square',
						},
						{
							name: 'Favourite',
							status: false,
							color: 'red',
							icon: 'fas fa-star',
						},
					],
				},
					{	
					active: false,
					name: {
						first: 'Hi',
						last: 'There',
					},
					courseTitle: 'Thai',
					backgroundColor: 'fff',
					categories: [
						{
							name: 'Category 1',
						},
					
					],
					favorite: {
						status: false,
					},
					status: {
						enroll: false,
						progress: 90,
						max: 100,
					},
					studyHours: 10,
					completed: false,
					views: 0,
					navigate: 'To chncourse',
					overviewNav: 'To overview page',
					menu: [
						{
							name: 'favorite',
							status: false,
							color: 'yellow',
							icon: 'fas fa-ban',

						},
						{
							name: 'Shared',
							status: false,
							color: 'blue',
							icon: 'fas fa-eye',
						},
						{
							name: 'Flag',
							status: false,
							color: 'green',
							icon: 'fas fa-flag',
						},
						{
							name: 'View',
							status: false,
							color: 'blue',
							icon: 'fas fa-share-square',
						},
						{
							name: 'Favourite',
							status: false,
							color: 'red',
							icon: 'fas fa-star',
						},
					],
				},
				
				
			],

			// status
			username: 'ping@.com',
			password: '',
			dialog: {
				color: 'info',
				status: false,
				message: 'Hello',
			},
			loremIpsum:
				'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.',
		};
	},
	methods: {
		testNav: function(nav) {
			alert(nav);
		},
		async login() {
			try {
				let result = await UserService.login({
					email: this.username,
					password: this.password,
				});
				alert('congrat you able to login to the system');

				console.log(result.data);
			} catch (err) {
				console.log(err.response.data.message);
				this.dialog = {
					color: 'danger',
					message: err.response.data.message,
					status: true,
				};
			}
		},
	},
};
</script>

<style scoped>
.vue-radial-menu-wrapper {
	margin: 0 !important;
	background-color:white !important;
	border-bottom-left-radius: 50% !important;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 0 !important;
	width:56px !important;
	height:48px !important;
}

.topMargin {
	margin-top: 10rem;
}

/* MDL Card styles */
.titleText {
	font-size: 2rem;
	font-weight: bold;
	margin-top: 1rem;
	color: white;
}
.nameText {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 1rem;
	color: white;
}

.detailTextLeft {
	float: left !important;
	/* margin-left: 0.rem; */
	color: white;
}
.detailTextRight {
	float: right !important;
	color: white;
}

.CCardTemplate {
	width:256px;
	border-radius: 20px;
	background-color: darkgray;
}

.CCardHeaderTemplate {
	border: 0px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: transparent;
}

.overviewButton {
	border-radius: 20px;
	background: white;
	width: 100%;
	height: 2.4rem;
	margin-top: 1rem;
}

.progressBar {
	border-radius: 20px;
	background: white;
	width: 100%;
	height: 2.4rem;
	margin-top: 1rem;
	border: 2.4px solid white;
}

.playButton {
	border-radius: 50%;
	height: 45px;
	width: 45px;
	background-color: white;
	margin-top: 0.92rem;
	margin-left: 0.2rem;
	border: 1px solid white;
}

.cardMenu {
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

/* .CCardTemplate:hover {
	background: red;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
} */

/* .card:hover {
	background-color: blue;
} */

.card-active{
	background-color: blue;
}

.content {
	margin-bottom: 1.5 rem !important;
}

.card-header {
    padding: 0rem 1rem;
    margin-bottom: 0;
}

</style>
